# fly.toml app configuration file generated for lilypond-converter on 2025-12-31T12:32:23-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'lilypond-converter'
primary_region = 'sjc'

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '3001'

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = '2gb'
  cpus = 2
  memory_mb = 2048
